lang en_US.UTF-8
keyboard us
timezone --utc America/New_York
text
install
skipx
network  --bootproto=static --ip={{ipaddr}} --netmask=255.255.255.0 --gateway=10.1.36.1 --nameserver=10.1.20.5 --hostname={{hostn}}
authconfig --enable shadow --enablemd5
firstboot --enable
cdrom
rootpw HP1nvent
#ignoredisk --only-use=/dev/disk/by-id/dm-name-mpatha
zerombr
clearpart --all --initlabel
autopart --type=lvm
reboot

user --name=vagrant --plaintext --password Compaq1! --groups=vagrant,wheel
#repo --name=docker --baseurl=https://download.docker.com/linux/centos/docker-ce.repo

# Disable firewall and selinux
firewall --disabled
selinux --disabled

%pre
%end

%packages
@Base
@Core
%end


%post
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

/bin/mkdir /home/vagrant/.ssh
/bin/chmod 700 /home/vagrant/.ssh
/bin/chown vagrant:vagrant /home/vagrant/.ssh

/bin/echo -e 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC2AcoSFE21TZZ/1MkL9kgfQJnLfaGnGujJFtqOyAQ1bbF3SghPa2vThUb9KuYLhn1AUoJI2AFhyWHNtyH/6ywJoer2KUfKTAyRnI/tckcz0eVVVG/997xfNK1IH2Wvr8A6j4XUFSSRzqojtzRq9DTJr3UVnxR4uRVLSpegispjkla0hfN4oJuEu8CjCQILPf8YS9HahAem/Dtbzb2Y1qHRgAzlrCxjTM7nTxQORJmiTgfkQLPLp3QFEQC4h8d50jpUq6gFZJ69lDc/PiUQO6LXEFW/ivo22qH6a6D2l1dcOGmTAqYk5qMUNQU9dG2b9MdgrESt4z2AeETUBhwT3u+L notebook@15993572bb84' > /home/vagrant/.ssh/authorized_keys
/bin/chown -R vagrant:vagrant /home/vagrant/.ssh
/bin/chmod 0400 /home/vagrant/.ssh/*

/usr/bin/yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo
/usr/bin/yum install docker-ce -y
/usr/bin/systemctl enable docker

/usr/sbin/usermod  -a -G docker vagrant
/usr/bin/yum -y install epel-release
/usr/bin/yum -y install python-pip
/usr/bin/yum -y install python3
/usr/bin/pip3 install docker
%end
